@import "mocha.css";

* {
  border: none;
  font-family: JetBrains Mono;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
}

button,
#taskbar,
#workspaces {
  transition: background 0.5s ease, color 0.5s ease, padding-left 0.5s ease-in,
    padding-right 0.5s ease-in;
  /* background: @base; */
  color: rgba(180, 190, 254, 0.6); /* Rounded outer sides */
  border-radius: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

#workspaces button:not(.active) {
  background: linear-gradient(
    45deg,
    rgba(148, 226, 213, 0.1),
    rgba(137, 220, 235, 0.1),
    rgba(116, 199, 236, 0.1),
    rgba(137, 180, 250, 0.1),
    rgba(180, 190, 254, 0.1)
  ); /* Rounded outer sides */
}

#taskbar button.active,
#workspaces button.active {
  box-shadow: none;
  color: @base;
  text-shadow: none;
  background: linear-gradient(
    45deg,
    @teal,
    @sky,
    @sapphire,
    @blue,
    @lavender
  ); /* Rounded outer sides */
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

#workspaces button:not(.active):hover {
  box-shadow: none;
  text-shadow: none;
  color: @base;
  background: linear-gradient(
    45deg,
    rgba(148, 226, 213, 0.3),
    rgba(137, 220, 235, 0.3),
    rgba(116, 199, 236, 0.3),
    rgba(137, 180, 250, 0.3),
    rgba(180, 190, 254, 0.3)
  ); /* Rounded outer sides */
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 3px;
  margin-right: 3px;
}

#mpris {
  background: @surface0;
  padding: 1px 5px 1px 5px;
  color: @lavender;
  border-radius: 10px;
}

#clock,
#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#battery,
#pulseaudio,
#cpu,
#tray,
#network {
  padding: 3px 3px 3px 3px;
  padding-bottom: 0px;
  margin: 3px 3px 3px 3px;
  margin-bottom: 0px;
  border-radius: 10px;
}

#pulseaudio {
  color: @sky;
}

#clock {
  color: @yellow;
}

#battery {
  color: @teal;
}

#cpu {
  color: @lavender;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @red;
  }
}
