@import "mocha.css";

* {
  border: none;
  font-family: JetBrains Mono;
}

window#waybar {
  background: @base;
}

button,
#taskbar,
#workspaces {
  transition: background 0.5s ease, color 0.5s ease;
  background: @base;
  color: rgba(180, 190, 254, 0.6); /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid @base;
}

#taskbar button.active,
#workspaces button.active {
  box-shadow: none;
  color: @base;
  text-shadow: none;
  background: linear-gradient(
    45deg,
    @teal,
    @sky,
    @sapphire,
    @blue,
    @lavender
  ); /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid @base;
}

button:not(.active):hover {
  box-shadow: none;
  text-shadow: none;
  color: @base;
  background: linear-gradient(
    45deg,
    rgba(148, 226, 213, 0.3),
    rgba(137, 220, 235, 0.3),
    rgba(116, 199, 236, 0.3),
    rgba(137, 180, 250, 0.3),
    rgba(180, 190, 254, 0.3)
  ); /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid #1e1e2e;
}

#clock,
#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#battery,
#pulseaudio,
#cpu,
#network {
  background-color: @base;
  padding: 3px 3px 3px 3px;
  padding-bottom: 0px;
  margin: 3px 3px 3px 3px;
  margin-bottom: 0px;
  border-radius: 1rem;
}

#pulseaudio {
  color: @sky;
}

#clock {
  color: @yellow;
}

#battery {
  color: @teal;
}

#cpu {
  color: @lavender;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @red;
  }
}
