* {
  border: none;
  font-family: JetBrains Mono;
}

window#waybar {
  background: none;
}

button,
#workspaces {
  transition: background 0.5s ease, color 0.5s ease;
  background: #1e1e2e;
  color: rgba(180, 190, 254, 0.6);

  /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid #1e1e2e;
}

#workspaces button.active {
  box-shadow: inherit;
  color: #1e1e2e;
  text-shadow: none;
  background: linear-gradient(
    45deg,
    #94e2d5,
    #89dceb,
    #74c7ec,
    #89b4fa,
    #b4befe
  );

  /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid #1e1e2e;
}

#taskbar button.active {
  box-shadow: inherit;
  color: #1e1e2e;
  text-shadow: none;
  background: linear-gradient(
    45deg,
    #94e2d5,
    #89dceb,
    #74c7ec,
    #89b4fa,
    #b4befe
  );

  /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid #1e1e2e;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  color: #010940;
  background: linear-gradient(
    45deg,
    rgba(148, 226, 213, 0.3),
    rgba(137, 220, 235, 0.3),
    rgba(116, 199, 236, 0.3),
    rgba(137, 180, 250, 0.3),
    rgba(180, 190, 254, 0.3)
  );

  /* Rounded outer sides */
  border-radius: 10px;
  border: 3px solid #1e1e2e;
}

#clock,
#battery,
#pulseaudio,
#cpu,
#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  background: #1e1e2e;
  border-radius: 8px;
  border: solid 0px #f4d9e1;
  transition: background 0.3s;
}

#pulseaudio {
  background: #89dceb;
  color: #1e1e2e;
}

#clock {
  background: #f9e2af;
  color: #1e1e2e;
}

#battery {
  background: #b5e8e0;
  color: #1e1e2e;
}

#cpu {
  background: #b4befe;
  color: #1e1e2e;
}

#battery.charging,
#battery.plugged {
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}
